/* /* Add your preferred styling for the Register component */

.register_body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-fields-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .title {
    padding-bottom: 2vh;
  }
  
  .register_body form {
    display: flex;
    flex-direction: column;
  }
  
  .register_body label {
    margin: 10px 0;
    color: #555555;
  }
  
  .register_body input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .register_body button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    /* gap: 1rem; */
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
 
  /* .linkbutton{
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    } */

    /* Add this to your CSS file (e.g., register.css) */

.linkbutton {

    display: flex;
    background-color: #4caf50; /* Match the register button's background color */
    color: #ffffff; /* Match the register button's text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    /* padding-left: calc(8.5vh); */
  
    /* Additional styles if needed */
    /* font-size: 16px; */
    /* font-weight: bold; */
  }
  
  .linkbutton:hover {
    background-color: #45a049; /* Change color on hover, matching the register button */
  }
  


